.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  margin-bottom: 40px;
  justify-content: center;
}

.card {
  margin-right: 20px;
  margin-top: 20px;
  background-color: lightgrey;
  box-shadow: 5px 5px 5px grey;
  border-radius: 10px;
}

.card-body {
  text-align: center;
  padding: 20px;
}

#list {
  display: flex;
  justify-content: center;
  align-items: center;
}
